.search__container {
  margin: 0;
  background-color: var(--blau);
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.input__box {
  margin: 0;
  padding: 1rem;
  color: white;
  background-color: var(--water);
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: row;
  place-items: center;
  justify-content: space-around;
}

.input__label {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: var(--orange);
}

.search__input {
  border-radius: 0.3rem;
  background-color: var(--blue);
  color: var(--orange);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.submit__button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.5rem;
  background-color: var(--orange);
  border: 0.3rem solid white;
  cursor: pointer;
}
